body{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
}
#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
  }
  
  .navbar-nav, .navbar {
      padding: 0;
      width: 100%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-top: 0px;
  }
  
.navbar-light .navbar-toggler{
    border: 2px solid black;
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link, .nav-link{
    color: black;
}
  
  .navbar-brand h1 {
   
    color: black;
    padding: 20px 30px;
  } 
  /* .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  */
  div > hr{
      border: 1px solid black;
      width: 100%;
      padding: 0;
      margin: 0;
  }